<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar</title>
</head>
<body>

<form name="formulario" method="post" th:action="@{/modificarDatos(owner_id=${owner.getId()},pet_id=${pet.getId()})}">

    Owner First Name: <input type="text" name="firstName1" th:value="${owner.getFirstName()}">
<br>
    Owner Last Name: <input type="text" name="lastName1" th:value="${owner.getLastName()}">
    <br>
    Owner Telephone Number: <input type="text" name="telephoneNumber1" th:value="${owner.getTelephoneNumber()}">
    <br>
    Dog Name: <input type="text" name="name1" th:value="${pet.getName()}">
    <br/>
    Dog Type: <select name="petType1">
    <option selected th:value="${owner.getPet().getPetType()}" th:text="${owner.getPet().getPetType()}"></option>
    <option value="Callejero">Callejero</option>
    <option value="Basset Hound">Basset Hound</option>
    <option value="Beagle">Beagle</option>
    <option value="Bernes de la montaña">Bernes de la montaña</option>
    <option value="Border Collie">Border Collie</option>
    <option value="Boxer">Boxer</option>
    <option value="Bulldog">Bulldog</option>
    <option value="Caniche">Caniche</option>
    <option value="Chihuahua">Chihuahua</option>
    <option value="Chow Chow">Chow Chow</option>
    <option value="Cocker">Cocker</option>
    <option value="Collie">Collie</option>
    <option value="Dalmata">Dalmata</option>
    <option value="Doberman">Doberman</option>
    <option value="Dogo de Burdeos">Dogo de Burdeos</option>
    <option value="Galgo">Galgo</option>
    <option value="Golden Retriever">Golden Retriever</option>
    <option value="Gran Danés"> Gran Danés</option>
    <option value="Labrador">Labrador</option>
    <option value="Mastín inglés">Mastín inglés</option>
    <option value="Pastor Alemán">Pastor Alemán</option>
    <option value="Pekinés">Pekinés</option>
    <option value="Perro salchicha">Perro salchicha</option>
    <option value="Pitbull">Pitbull</option>
    <option value="Rottweiler">Rottweiler </option>
    <option value="San Bernardo">San Bernardo </option>
    <option value="Terranova">Terranova</option>
</select>
    <br>
    Dog Problem: <input type="text" name="healthProblem1" th:value="${pet.getHealthProblem()}">
    <br>
    Problem Evolution: <textarea cols="30" rows="2" name="problemEvolution1" th:value="${pet.getProblemEvolution()}"></textarea>
    <br>

    <input type="submit" value="Enviar">

<br>
    <a th:href="@{/eliminar(owner_id=${owner.getId()}, pet_id=${pet.getId()})}">Caso terminado / Eliminar</a>

</form>
<br>
<a href="index.html">Volver al inicio</a>

</body>
</html>