<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/estiloVeterinaria.css}">
</head>
<body>
<div class="container">
    <a href="index.html" id="volver">Volver al inicio</a>
<form th:form="formularioOwner" name="formularioOwner" method="post" th:action="@{/ownerSaver(vet_id=${vet_id})}">

 <p>  First Name: <br/><input type="text" name="firstName"  class="input">
    <br/>
    <p>  Last Name: </p> <input type="text" name="lastName" class="input">
    <br/>
    <p>  Telephone Number:</p>  <input type="text" name="telephoneNumber" class="input">
    <br/>
    <input type="submit" value="Enviar" class="button">



</form>
<br>






</div>

<footer>

    PULGUITAS

    <p th:id="telefono">TEL:3512426215</p>
    <p th:id="direccion">Deán Funes 1308</p>

</footer>

</body>
</html>