<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/estiloVeterinaria.css}">
</head>
<body>
<div class="container">
    <a href="index.html" id="volver">Volver al inicio</a>
<form name="formularioPet" method="post" th:action="@{/petSaver(vet_id=${vet_id},owner_id=${owner_id})}">

   <p>Dog Name:</p>  <input type="text" name="name"  class="input">
    <br/>
    <p>  Dog Type:</p>  <select name="petType" class="input">
    <option value="Callejero">Callejero</option>
    <option value="Basset Hound">Basset Hound</option>
    <option value="Beagle">Beagle</option>
    <option value="Bernes de la montaña">Bernes de la montaña</option>
    <option value="Border Collie">Border Collie</option>
    <option value="Boxer">Boxer</option>
    <option value="Bulldog">Bulldog</option>
    <option value="Caniche">Caniche</option>
    <option value="Chihuahua">Chihuahua</option>
    <option value="Chow Chow">Chow Chow</option>
    <option value="Cocker">Cocker</option>
    <option value="Collie">Collie</option>
    <option value="Dalmata">Dalmata</option>
    <option value="Doberman">Doberman</option>
    <option value="Dogo de Burdeos">Dogo de Burdeos</option>
    <option value="Galgo">Galgo</option>
    <option value="Golden Retriever">Golden Retriever</option>
    <option value="Gran Danés"> Gran Danés</option>
    <option value="Labrador">Labrador</option>
    <option value="Mastín inglés">Mastín inglés</option>
    <option value="Pastor Alemán">Pastor Alemán</option>
    <option value="Pekinés">Pekinés</option>
    <option value="Perro salchicha">Perro salchicha</option>
    <option value="Pitbull">Pitbull</option>
    <option value="Rottweiler">Rottweiler </option>
    <option value="San Bernardo">San Bernardo </option>
    <option value="Terranova">Terranova</option>

</select>
    <br/>
    <p> Health Problem:</p>  <input type="text" name="healthProblem"  class="input">
    <br/>
    <input type="submit" value="Enviar" class="button">



</form>



</div>

<footer>

    PULGUITAS

    <p th:id="telefono">TEL:3512426215</p>
    <p th:id="direccion">Deán Funes 1308</p>

</footer>


</body>
</html>